{% extends "studentdashboard.html" %}
{% block content %}
{% load static %}
<div class="col-lg-11 container-fluid" id="science">
    <h1>Science</h1>
        <div class="row justify-content-center"> 
            {% for science in sciences %}
            <div class="col-md-3 prouctitem">
                <h6 class="desc"><b>{{science.topic}}</b></h6>
                <button onclick="window.open(src='{% static 'assets/' %}{{science.content}}');">Open</button>
            </div>
            {% endfor %}
        </div>
        
</div>
{% endblock %}