{% extends "studentdashboard.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %} ">
    <div class="overlay">
        <div class="container">
            <img src="static/img/background.jpg" class="img-responsive img-rounded" alt="home img">

            <div class="row">
                <div class="col-md-1"></div>
                
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
<section id="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <h3 class="text-uppercase">Prepare for Class 6</h3>
                <p>FREE leadership, personality, confidence-building, mentorship sessions. </p>
            </div>
            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <h3 class="text-uppercase">Prepare for Class 7</h3>
                <p>Small batch size, individual attention guaranteed
                    Same-level students, faster improvement. </p>
            </div>
            <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                <h3 class="text-uppercase">Prepare for Class 8 to 10</h3>
                <p>Students are encouraged to work towards attaining weekly mastery goals to drive academic excellence. </p>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                <h2 class="text-uppercase">Our Website Features</h2>
                <p>Unlock tacit knowledge by enabling subject matter experts to create and share content easily
                    Enable social sharing between peers and managers to quickly disperse knowledge within the organization
                    Create cohort based experiences using micro-orgs
                    Allow partners and external users to access content on a shared platform</p>
                <p><span><i class="fa fa-mobile"></i></span>Access your learning materials online.</p>
                <p><i class="fa fa-code"></i>Integrate with any talent management suite to enable a learning experience based on a user's career goals</p>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                <img src="static/img/home-bg.jpg" class="img-responsive img-rounded" alt="feature img">
            </div>
        </div>
    </div>
</section>

<section id="feature1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <img src="static/img/desktop.jpeg" class="img-responsive img-rounded" alt="feature img">
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="text-uppercase">More of Our Website</h2>
                <p>You can create an account by simply signing up either with your phone number, Gmail or Facebook. A unique account helps you keep track of your progress and the courses you have subscribed to and/or purchased.</p>
                <p><span><i class="fa fa-mobile"></i></span>After creating an account you can choose from all of our available courses. You can read the synopsis of each course and decide which course is suitable for you.</p>
                <p><i class="fa fa-code"></i>Our 24 hour availability criteria helps you to learn at your own time and your own pace.</p>
            </div>
        </div>
    </div>
</section>
<!-- end feature1 -->

<!-- start pricing -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounceIn">
                <h2 class="text-uppercase">Our Courses</h2>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 7</p>
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>
                        
                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing active text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 8</p>
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>

                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing active text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 9</p>
                    
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>

                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing active text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 10</p>
              
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>

                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section id="contact">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Contact Us</h2>
                    <p>Learner’s pro is not just a change of technology. It is part of a redefinition of how we as a species transmit knowledge, skills, and values to younger generations of workers and students. Learners will have access to millions or billions of knowledge modules. Some will be Web pages with simple text and graphics. Others may include multimedia simulations. In many fields, e-learning has become the default way to conduct training or to provide education. </p>
                    <address>
                        <p><i class="fa fa-map-marker"></i>Kathmandu, Nepal</p>
                        <p><i class="fa fa-phone"></i> 9814647140/ 9842213093</p>
                        <p><i class="fa fa-envelope-o"></i> learnerspro@gmail.com</p>
                    </address>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="contact-form">
                        <form action="#" method="post">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="form-control text-uppercase" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="page-footer" style="background-color:white">
    <div class="container">
      <div class="row">
        
                <div class="col-md-4 mt-4">
                          <h3>About Us</h3> <br>
                          <p>Learner’s pro is not just a change of technology. It is part of a redefinition of how we as a species transmit knowledge, skills, and values to younger generations of workers and students. Learners will have access to millions or billions of knowledge modules. Some will be Web pages with simple text and graphics. Others may include multimedia simulations. In many fields, e-learning has become the default way to conduct training or to provide education.</p>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <img src="static/img/aboutus.png" class="img-responsive img-rounded" alt="feature img">
                </div>            
                        
    </div>
</footer>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.singlePageNav.min.js"></script>
<script>
    $(window).load(function () {
        $('.preloader').fadeOut(1000);
    });

    $(function () {
        new WOW().init();
        $('.templatemo-nav').singlePageNav({
            offset: 70
        });

        $('.navbar-collapse a').click(function () {
            $(".navbar-collapse").collapse('hide');
        });
    })
</script>
</body>
{% endblock %}