{% extends "studentdashboard.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %} ">
<section id="home" class="home">
    <div class="content">
        <h1>Discover a new way of learning</h1>
        <p>Learn at ease, Build your future right here<br> For your career.</p>
        <div class="home-btn">
        </div>
    </div>
</section>

<section id="feature">
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6 wow fet" data-wow-delay="0.6s">
                <h2 class="text-uppercase">Our Website Features</h2>
                <p>Learners' Pro is a web-based project that provides E-learning platform to students. 
                    New approaches are typically thought to have a significant impact on education. Talking of features, 
                    this website has three distinct dashboards for students, teachers, and admins. 
                </p>
                <p><span><i class="fa fa-check-circle-o icon"></i></span>Students can obtain educational materials.</p>
                <p><span><i class="fa fa-check-circle-o icon"></i></span>Teachers can provide educational materials.</p>
                <p><span><i class="fa fa-check-circle-o icon"></i></span>Admins can manage both students and teachers.</p>
            </div>
            <div class="col-md-5 fimg">
                <img src="static/img/features.png" class="img-responsive img-rounded featurimg">
            </div>
        </div>
    </div>
</section>

<section id="feature1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 wow fadeInUp fet fimg" data-wow-delay="0.6s">
                <img src="static/img/time.png" class="img-responsive img-rounded featurimg" alt="feature img">
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <h2 class="text-uppercase">More of Our Website</h2>
                <p>You can create an account by simply signing up either with your phone number,
                     Gmail or Facebook. A unique account helps you keep track of your progress 
                     and the courses you have subscribed to and/or purchased.</p>
                <p><span><i class="fa fa-check-circle-o icon"></i></span>After creating an account you 
                    can choose from all of our available courses. You can read the synopsis of each course and decide which course is suitable for you.</p>
                <p><i class="fa fa-check-circle-o icon"></i>Our 24 hour availability criteria helps you to learn at your own time and your own pace.</p>
            </div>
        </div>
    </div>
</section>
<!-- end feature1 -->

<!-- start pricing -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounceIn">
                <h2 class="text-uppercase">Our Courses</h2>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 7</p>
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, 
                            English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>
                        
                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing active text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 8</p>
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>

                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                <div class="pricing active text-uppercase">
                    <div class="pricing-title">
                        <h4>Foundation Course</h4>
                        <p>CLASS 9/10</p>
                    
                    </div>
                    <ul>
                        <li>We provide foundation courses that will cover entire topics of Maths, English, Social, Computer and Science subjects and build a strong foundation for examinations.</li>

                    </ul>
                    <button class="btn btn-primary text-uppercase">Sign up</button>
                </div>
            </div>
            
        </div>
    </div>
</section>
<div class="row">
    <div class="row d-flex justify-content-center">
              <div class="col-md-4 mt-4">
                        <h3 style="color:black;">About Us</h3> <br>
                        <p>Learner’s pro is not just a change of technology. It is part of a redefinition of how we as a species transmit knowledge, skills, and values to younger generations of workers and students. Learners will have access to millions or billions of knowledge modules. Some will be Web pages with simple text and graphics. Others may include multimedia simulations. In many fields, e-learning has become the default way to conduct training or to provide education.</p>
              </div>
              <div class="col-md-6 wow fadeInUp d-flex justify-content-center" data-wow-delay="0.6s">
                  <img src="static/img/aboutus.png" class="img-responsive img-rounded images" alt="feature img">
              </div>                      
  </div>

<section id="contact">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="text-uppercase">Contact Us</h2>
                    <p>Learner’s pro is not just a change of technology. It is part of a redefinition of how we as a species transmit knowledge, skills, and values to younger generations of workers and students. Learners will have access to millions or billions of knowledge modules. Some will be Web pages with simple text and graphics. Others may include multimedia simulations. In many fields, e-learning has become the default way to conduct training or to provide education. </p>
                    <address>
                        <p><i class="fa fa-map-marker"></i>Kathmandu, Nepal</p>
                        <p><i class="fa fa-phone"></i> 9814647140/ 9842213093</p>
                        <p><i class="fa fa-envelope-o"></i> learnerspro@gmail.com</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/jquery.singlePageNav.min.js"></script>
<script>
    $(window).load(function () {
        $('.preloader').fadeOut(1000);
    });

    $(function () {
        new WOW().init();
        $('.templatemo-nav').singlePageNav({
            offset: 70
        });

        $('.navbar-collapse a').click(function () {
            $(".navbar-collapse").collapse('hide');
        });
    })
</script>
</body>
{% endblock %}