{% extends "studentdashboard.html" %}

{% block content %}

{% load static %}
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <script defer src="{% static 'js/question.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container cont">
        <div class="form for">
            <div class="heading">
                <h1>Ask your question</h1>
            </div>
            <form id="form" action="/question" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="wrap" id="form">
                    <div class="first">
                        <label>Your Name:</label>
                        {% for user in users %}
                        <input name="name" id="name" type="text" value="{{user.username}}" readonly>
                        {% endfor %}
                    </div>
                    <div class="last">
                        <label>Subject:</label>
                        <select name="subject">
                            <option>English</option>
                            <option>Science</option>
                            <option>Social Studies</option>
                            <option>Maths</option>
                            <option>Computer</option>
                            <option>Accounts</option>
                        </select>
                    </div>
                </div>
                <div class="wrap1">
                    <label>Question:</label>
                    <textarea name="question" id="question" type="text" value=""></textarea>
                    <input name="student" value="{{request.session.student_id}}" hidden>
                </div>
                <div id ="nameerror"></div>
                <button class="btn1 d-flex d-flex align-items-center justify-content-center" type="submit" value="submit">Submit your question.</button>
                <p>Note: You will recieve your asnwer once the allocated teacher has suubmitted it.</p>
            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}