<!DOCTYPE html>
{% extends "studentdashboard.html" %}

{% block content %}
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/resetpassworddone.css'%}">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="heading">
                <h1>Password Reset sent</h1>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you
                    entered you should receive them shortly.
                </p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and 
                    check your spam folder.
                </p>
            </div>
        </div>
    </div>
</form>
</body>
</html>