<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/resetpassworddone.css'%}">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="heading">
                <h1>Password Reset Complete</h1>
                <p>Your password has been set. You can go ahead login now.</p>
            </div>
            <a class="link" href="/studentlogin">Login</a>
        </div>
    </div>
</form>
</body>
</html>