{% extends "studentdashboard.html" %}
{% block content %}
{% load static %}
<div class="col-lg-11 container-fluid" id="math">
    <h1>Math</h1>
        <div class="row justify-content-center"> 
            {% for math in maths %}
            <div class="col-md-3 prouctitem">
                <h6 class="desc"><b>{{math.topic}}</b></h6>
                <button onclick="window.open(src='{% static 'assets/' %}{{math.content}}');">Open</button>
            </div>
            {% endfor %}
        </div>
</div>
<script>
    // Add active class to the current button (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btns");
btns[0].classList="btns"
btns[1].classList="btns active1"
btns[2].classList="btns"
btns[3].classList="btns"
btns[4].classList="btns"
btns[5].classList="btns"
btns[6].classList="btns active1"
btns[7].classList="btns"
btns[8].classList="btns"
btns[9].classList="btns"
</script>
{% endblock %}