{% extends 'teacherdashboard.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add_New subj</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/addsubject.css' %}">
</head>
<body>
    <div class="small_div">

        <div class="container">
            <br>
            <h2>ADD NEW ENTRY</h2>
            <hr>

            <form action="/addcourse" method="POST" enctype="multipart/form-data">
                {%  csrf_token %}
                <label class="form-group" for="title">Class : </label>
                <select name="std_class" style="height:40px;">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select><br>
                <label class="form-group" for="subject">Subject : </label>
                <select name="subject" style="height:40px;">
                    <option value="Science">Science</option>
                    <option value="Social studies">Social studies</option>
                    <option value="Maths">Maths</option>
                    <option value="English">English</option>
                    <option value="Accounts">Accounts</option>
                    <option value="Computer">Computer</option>
                </select><br>
                <label class="form-group" for="incharge">Topic: </label>
                <input class="form-control" type="text" name="topic"><br>
                <label class="form-group">Content : </label>
                <input type="file" name="content" class="form-control" />
                <input type="submit" class="btn btn-success" value="Create">
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}