<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/resetpassword.css'%}">
    <script defer src="{% static 'js/resetpassword.js'%}"></script>
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="heading">
                <h1>Reset Password</h1>
            </div>
            <form id="form" action=" " method="post">
            <div class="inp">
                <label>New Password:</label>
                <input name="new_password" id="new_password" type="password" placeholder="Enter a password.">
                <label>Confirm Password:</label>
                <input name="confirm_password" id="confirm_password" type="password" placeholder="Confirm your password.">
            <div id ="emailerror"></div>
            <button class="btn" type="submit" value="submit">Submit</button>
        </div>
    </div>
</form>
</body>
</html>