.white a {
	color: #fff;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
}
h1,
h2,
h3,
h4
    {
        font-weight: bold;
    }
p { line-height: 1.6em; }
.btn-primary{
    background-color: #5a6ff5;
    border-color:#1a8bfb;
}
img
    {
        max-width: 100%;
        height: auto;
    }
.overlay
    {
       width: 100%;
       height: 100%;
       background-color:rgba(153, 206, 253, 0.7);
       padding-top: 90px;
       padding-bottom: 90px;
    }
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
#divider
    {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
#divider h3
    {
        font-size: 20px;
    }
#feature
    {
        background: #f8f8f8;
        padding-top: 60px;
        padding-bottom: 60px;
    }
#feature p
    {
        padding-top: 10px;
    }
#feature span
    {
        float: left;
    }
#feature .fa
    {
        background: #649bf5;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
#feature1
    {
            padding-top: 40px;
        padding-bottom: 40px;
    }
#feature1 p
    {
        padding-top: 10px;
    }
#feature1 span
    {
        float: left;
    }
#feature1 .fa
    {
        background: #649bf5;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
#pricing
    {
        background: #f8f8f8;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#pricing h2
    {
        padding-bottom: 60px;
    }
#pricing .pricing
    {
        background: #fff;
        border-radius: 5px;
    }
#pricing .active
    {
        position: relative;
        bottom: 20px;
    }
#pricing .pricing .pricing-title
    {
        background: #87c0f2;
        color: #fff;
        font-weight: bold;
        padding: 30px;
        border-radius: 5px  5px 0 0;
    }
#pricing .pricing .pricing-title p
    {
        font-size: 20px;
    }
#pricing .pricing ul
    {
        padding: 0;
        margin: 0;
    }
#pricing .pricing ul li
    {
        display: block;
        list-style: none;
        padding: 16px;
    }
#pricing .pricing .btn
    {
        background: transparent;
        border: 1px solid #291ef8;
        border-radius: 3px;
        color: #0b80f5;
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }
#pricing .pricing .btn:hover {
    background: #0724b7;
    color: #fff;
}
#contact
    {
        background: url('../img/contact-bg.jpeg') no-repeat;
        background-size: cover;
        color: #fff;
        height: 510px;

    }
#contact h2
    {
        padding-bottom: 0px;

    }

#contact address .fa
    {
        background: #2185dd;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 5px;
        margin-right: 5px;
    }
    h2 {
        font-size: 30px;
        color: #000000;

      }
.footer
    {
        background: #fff;
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #pricing .active {
        bottom: 0;
    }
    .pricing {
        margin-bottom: 20px;
    }
    #feature img, #download img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #pricing, #download {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #contact .overlay {
        padding-top: 40px;
    }
}
@media screen and ( max-width: 360px ){
    .pricing
        {
            padding-bottom: 40px;
        }
}

.title{
    color: black;
    text-align: center;
}
.templatemo-box{
    border: 5px solid rgba(1, 22, 255, 0.379);
}
.images{
    height: 300px;
}
