*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/static/img/new.png');
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    width: 80%;
}
h1{
    font-weight: 385;
    font-size: 50px;
    text-align: center;
}
input{
    outline: 2px solid black;
    border: solid black;
    border-radius: 5px;
}
textarea {
    height: 180px;
    width: 100%;
    line-height: 150%;
    resize:vertical;
    border: 2px solid black;
    border-radius: 5px;
}
select{
    width: 100%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px  ;
}
.container{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    background-color: white;
    display:flex;
    box-shadow: 5px;
    border: 5px solid black;
    border-radius: 10px;
}
.form{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
form{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.wrap1{
    width: 80%;
    margin-bottom: 10px;
    position:relative;
}
.wrap{
    display:flex;
    width: 80%;
    justify-content: center;
}
.first{
    width: 45%;
    position: relative;
}
.last{
    width: 50%;
    margin-left: auto;
    position: relative;
}

.btn{
    font-size: 20px;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #414141;
    color: white;

}
label{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    display: flex;
    width: 80%;
    min-height: 25px;
    align-items: center;
}
input{
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    transition:all 0.3s ease;
    border: 2px solid gray;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
a:hover{
    text-decoration: underline;
}

/**.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
**/
@media(max-width:1250px){
    .container{
        width: 90%;
    }
}

@media(max-width:768px) {
    .container{
        width: 100%;
        height: 110vh !important;
        position: static;
        transform: translate(0,0);
    }
    
}
@media(max-width:1000px){
    .image{
        display: none;
    }
    .container{
        height: 95vh;
    }
    .form{
        align-items: center;
        width: 100%;
    }
}
@media(max-width:500px){
    .wrap{
        flex-direction: column;
    }
    .first,.last{
        width: 100%;
        margin: 0px;
    }
    .form{
        align-items: center;
    }
}
#nameerror{
    color: red;
}