*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:#def6e5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    width: 80%;
}
h1{
    font-weight: 420;
    font-size: 50px;
    text-align: center;
    color: royalblue;
}
p{
    font-size: 16px;
    align-items: center;
}
input{
    outline:none;
    border: solid #92e3a9;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 10px;
}
.container{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 65vh;
    background-color: white;
    display:flex;
    box-shadow: 5px;
    border: 5px solid black;
    border-radius: 10px;
}
.form{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
form{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.btn{
    font-size: 20px;
    margin-top: 20px;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #92e3a9;
    border: 2px solid black;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #def6e5;
    color: white;

}
label{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    display: flex;
    width: 80%;
    min-height: 25px;
    align-items: center;
}
input{
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    transition:all 0.3s ease;
    border: 3px solid black;
}
@media(max-width:1250px){
    .container{
        width: 50%;
    }
}

@media(max-width:768px) {
    .container{
        width: 100%;
        height: 110vh !important;
        position: static;
        transform: translate(0,0);
    }
    
}
@media(max-width:1000px){
    .container{
        height: 70vh;
    }
    .form{
        align-items: center;
        width: 100%;
    }
}
@media(max-width:500px){
    .form{
        align-items: center;
    }
}
#emailerror{
    margin-top: 5px;
    color: red;
    align-items: center;
}