{% extends 'admindashboard.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/updatepassword.css'%}">
    <script defer src="{% static 'js/resetpassword.js'%}"></script>
    <title>Reset Password</title>
</head>
<body>
    <div class="col-lg-6 container">
        <div class=" form">
            <div class="heading">
                <h1>Update Password</h1>
            </div>
            <form id="form" action="/adminupdate/{{request.session.admin_id}}" method="post">
            {% csrf_token %}
            <div class="inp">
                <label>New Password:</label>
                <input name="username" value="{{request.session.username}}" hidden>
                <input id="new_password" type="password" placeholder="Enter a password.">
                <label>Confirm Password:</label>
                <input name="password" id="confirm_password" type="password" placeholder="Confirm your password.">
            <div id ="emailerror"></div>
            <button class="btn" type="submit">Save Password</button>
        </div>
    </div>
</form>
</body>
<script>

// Add active class to the current button (highlight it)    

    
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btns");
btns[0].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
btns[1].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
btns[2].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
btns[3].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
btns[4].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold active"
btns[5].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
</script>
</html>
{% endblock %}