{% extends 'admindashboard.html' %}
{% block content %}
{% load static %}
<h1 style="text-align:center;">Student Details</h1>
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong>Done! </strong>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
        <div class="col-lg-12 d-flex justify-content-center tablebody table-responsive"> 
           
                     <table class="col-lg-10 table table-bordered table-hover table-striped">
                        <thead class="thead">
                            <tr>
                                <th>ID</th>
                                <th>Firstname</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Actions</th>
                            </tr>
                         </thead>
                         {% for student in students %}
                            <tr class="tbody">
                                    <td>{{student.student_id}}</td>
                                    <td>{{student.student_firstname}}</td>
                                    <td>{{student.username}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.phone_number}}</td>
                                 <td>
                                     <a href="/studentdelete/{{student.student_id}}" style="color:rgb(80, 214, 255)"><button class="btn btn-danger">Delete</button></a>
                                 </td>
                            </tr>
                        {% endfor %}
                     </table>
                 </div>
            </div>
            <div class="pagination d-flex justify-content-center">
                <form method="POST" action="">
                {% csrf_token %}
                {% if page > 1 %}
                <button class="btn btn-secondary p-1" name="prev">Previous</button>
                {% endif %}
                <input class="text-center p-1" value="{{page}}" name="page" style="width:30px !important;" readonly>
                {% if pageItem == 8 %}
                <button name="next" class="btn btn-secondary p-1">Next</button>
                {% endif %}
                </form>
                </div>
            </div>
        </div>
        <script>
            // Add active class to the current button (highlight it)
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("btns");
        btns[0].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
        btns[1].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
        btns[2].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold active"
        btns[3].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
        btns[4].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
        btns[5].classList="btns list-group-item list-group-item-action bg-transparent second-text fw-bold"
        </script>
{% endblock %}